
{% extends "layout.html" %}

{% block pageTitle %}
  Validation demo
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Validation demo
      </h1>
      <p>
        The validation demo is an example of how form validation can be built in the GOV.UK prototype kit.
      </p>

      <h2 class="govuk-heading-m">Make them put an answer</h2>
      <p class="govuk-body">Forces forms to trigger validation if you set includeValidation to true, for more realistic prototypes. Done here via a query string.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="1-0/single-question?resetSession=true&includeValidation=true">
            single question form
          </a>
        </li>
        <li>
          <a href="1-0/multiple-questions?resetSession=true&includeValidation=true">
            multiple questions form
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Allow validation to be ignored</h2>
      <p class="govuk-body">Allows quick click throughs of prototypes if you set includeValidation to false. Done here via a query string.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="1-0/single-question?resetSession=true&includeValidation=false">
            1 question form
          </a>
        </li>
        <li>
          <a href="1-0/multiple-questions?resetSession=true&includeValidation=false">
            multiple questions form
          </a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
