{% extends "layout.html" %} 

{% block pageTitle %} 
Page title here
{% endblock %}

{% block content %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
      
              <h1 class="govuk-heading-l">Check your answers</h1>
      
      
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Radios
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{myData.radios1Answer}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="multiple-questions">
                      Change
                      <span class="govuk-visually-hidden"> radios</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Text
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.text1Answer}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="multiple-questions">
                        Change
                        <span class="govuk-visually-hidden"> text</span>
                        </a>
                    </dd>
                </div>
              </dl>
      
              <form method="POST" class="form">
      
                <input type="hidden" name="answers-checked" value="true">
      
                <button type="submit" class="govuk-button">
                    Continue
                </button>
      
              </form>
      
            </div>
          </div>



{% endblock %}
